DATABASE_URL="postgresql://ferreteria_user:ferreteria_dev_password@localhost:55432/ferreteria"
POSTGRES_DB="ferreteria"
POSTGRES_USER="ferreteria_user"
POSTGRES_PASSWORD="ferreteria_dev_password"
POSTGRES_PORT="55432"

PORT=3001
JWT_SECRET="cambiar-en-produccion-ferreteria-jwt-secret-min-32"
CORS_ORIGIN="http://localhost:3000"
NODE_ENV="development"
